<h1>Phone deleted</h1>

<p>Would you like to <a href="/contacts/<%= @phone.contact_id %>/phones">see all the phones</a>, or <a href="/contacts/<%= @phone.contact.id %>/phones/new">create a new one</a>?</p>
